<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Editar Tarefa</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.content.label() }}
                {{ form.content(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <p class="mt-3">Data e Hora de Criação: {{ task.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p> <!-- Mostrar a data e a hora formatadas -->
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Voltar para a lista de tarefas</a>
    </div>
</body>
</html>
